@page "/login"
@using Apex.GameZone.UI.Models.Auth
@layout EmptyLayout

<PageTitle>Login and Registration</PageTitle>

<div class="purpleBody">
    <div class="main">
        <input type="checkbox" id="chk" checked aria-hidden="true">

        <div class="signup">
            <form>
                <label for="chk" aria-hidden="true">Գրանցում</label>
                <input type="text" name="txt" @bind-value="model.Username" placeholder="User name" required="">
                <input type="email" name="email" @bind-value="model.Email" placeholder="Email" required="">
                <input type="password" name="pswd" @bind-value="model.Password" placeholder="Password" required="">
                <input type="password" name="pswd" @bind-value="model.ConfirmPassword" placeholder="Confirm Password" required="">
                <button @onclick="@SignIn">Գրանցվել</button>
            </form>
        </div>

        <div class="login">
            <form>
                <label for="chk" aria-hidden="true">Մուտք</label>
                <input type="email" @bind-value="model.Username" name="email" placeholder="Username" required="">
                <input type="password" @bind-value="model.Password" name="pswd" placeholder="Password" required="">
                <button @onclick="@LogIn">Մուտք գործել</button>
            </form>
        </div>
    </div>
</div>

@code {
    readonly UserModel model = new();

    void SignIn()
    {
    }

    void LogIn()
    {
    }

}