:root {
    --primary-color: #0d92ec;
    --title-text-color: #292929;
    --description-color: #383b3e;
    --white-color: #ffffff;
    --bg-gray-100: #eef0f1;
    --border-color: #d5d9dd;
}

* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container {
    margin: auto;
    max-width: 1450px !important;
}

.wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

/* =============== */

.LYNX {
    height: 100%;
    width: 100%;
}

.LYNX .section-title p {
    color: var(--description-color);
    font-size: 16px;
    margin-top: 20px;
}

.filter-insights { margin-top: 50px; }

.filter-insights .dropdown-container { border: 1px solid var(--border-color); }

.filter-insights .dropdown-container .filter {
    align-items: center;
    background: var(--border-color);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px;
}

.filter-insights .dropdown-container .filter h4,
.filter-insights .dropdown-container .filter p { margin: 0; }

.filter-insights .dropdown-container .filter h4 { width: 200px; }

.filter-insights .dropdown-container .filter p { text-align: center; }

.filter-insights .dropdown-container .dropdown-menu {
    background: transparent;
    border: none;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 0 25px;
    position: static;
    text-align: justify;
    transform-origin: top left;
    width: 100%;
}

.filter-insights .dropdown-container .filter .dropdown {
    cursor: pointer;
    padding: 15px;
}

.filter-insights .dropdown-container .filter .dropdown .bi-chevron-down {
    cursor: pointer;
    height: 18px;
    transform: rotate(-180deg);
    transition: all 0.3s ease-in-out;
    width: 18px;
}

.filter-insights .dropdown-container .filter .dropdown .bi-chevron-down.up { transform: rotate(0deg); }

#openDropdown:checked + .dropdown-menu { display: none; }

/* ================================== */

/* ================================== */

.custom-select {
    display: inline-block;
    position: relative;
    width: 100%;
}

.custom-select-wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
}

.custom-select-trigger {
    border: 1px solid var(--border-color);
    border-radius: 3px;
    color: var(--description-color);
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 100;
    font-weight: 400;
    line-height: 45px;
    padding: 0 60px 0 25px;
    position: relative;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

.custom-select-trigger:before {
    content: "";
    display: block;
    margin-top: -3px;
    position: absolute;
    right: 50px;
    top: 3px;
    transform-origin: 50% 0;
    transition: all 0.35s ease-out;
    width: 1px;
}

.custom-select-trigger:after {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    content: "";
    display: block;
    height: 10px;
    margin-top: -3px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
    transform-origin: 50% 0;
    transition: all 0.35s ease-out;
    width: 10px;
}

.custom-select.opened .custom-select-trigger:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
}

.custom-options {
    background: #fff;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    left: 0%;
    margin: 10px 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 100%;
    transform: translateY(-15px);
    transition: all 0.2s ease-in-out;
    visibility: hidden;
    width: 100%;
}

.custom-select.opened .custom-options {
    background: var(--white-color);
    opacity: 1;
    pointer-events: all;
    transform: translateY(-8px);
    visibility: visible;
    z-index: 1;
}

.option-hover:before { background: #f9f9f9; }

.custom-option {
    color: var(--title-color);
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 47px;
    padding: 0 22px;
    position: relative;
    transition: all 0.05s ease-in-out;
}

.custom-option:first-of-type {
    border-radius: 4px 4px 0 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.custom-option:last-of-type {
    border-bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-radius: 0 0 4px 4px;
}

.custom-option:hover,
.custom-option.selection {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.filter-insights .dropdown-container .add-filter-btn {
    color: var(--title-text-color);
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    padding: 0 25px;
    padding-bottom: 20px;
}

.filter-insights .dropdown-container .add-filter-btn span {
    color: var(--description-color);
    font-size: 14px;
    font-weight: 400;
}

.filter-insights .dropdown-container .dropdown-menu .menu-group .VALUE .item { width: 100%; }

.filter-insights
.dropdown-container
.dropdown-menu
.menu-group
.VALUE
.item
.trash {
    align-items: center;
    display: flex;
}

.filter-insights
.dropdown-container
.dropdown-menu
.menu-group
.VALUE
.item
.trash
.bi-trash3 { margin-left: 20px; }

.filter-insights .dropdown-container .dropdown-menu .menu-group .item p,
.filter-insights .dropdown-container .dropdown-menu .menu-group .VALUE .item p {
    color: var(--title-text-color);
    font-size: 16px;
    text-transform: uppercase;
}

.filter-insights
.dropdown-container
.dropdown-menu
.menu-group
.VALUE
.item
p
span {
    color: var(--description-color);
    font-size: 14px;
    text-transform: capitalize;
}

/* LYNX card tab menu  */

.LYNX-overview { margin-top: 50px; }

.LYNX-overview .container {
    margin: 0;
    padding: 0;
}

.LYNX-overview .overview-menu ul {
    align-items: center;
    border-bottom: 4px solid var(--border-color);
    display: flex;
    padding-bottom: 10px;
}

@media screen and (max-width: 576px) {
    .overview-menu .nav {
        display: flex;
        flex-wrap: wrap;
    }

    .LYNX-overview .overview-menu ul li a.active { color: #0078d4 !important; }

    .LYNX-overview .overview-menu ul li {
        margin-left: 0 !important;
        margin-top: 20px;
    }

    .LYNX-overview .overview-menu ul li a.active::after { display: none; }
}

.LYNX-overview .overview-menu ul li {
    color: var(--description-color);
    font-size: 16px;
    margin-left: 20px;
    position: relative;
}

.LYNX-overview .overview-menu ul li:hover:after {
    background: var(--primary-color);
    bottom: 0;
    color: var(--title-text-color);
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    top: 34px;
    width: 100%;
}

.LYNX-overview .overview-menu ul li a {
    color: var(--description-color);
    font-weight: 500;
    padding: 0 20px;
    position: relative;
}

.LYNX-overview .overview-menu ul li:nth-child(1) { margin-left: 0; }

.LYNX-overview .overview-menu ul li a:hover,
.LYNX-overview .overview-menu ul li a.active {
    color: var(--primary-color);
    font-weight: 500;
}

.LYNX-overview .overview-menu ul li a.active::after {
    background: var(--primary-color);
    bottom: 0;
    color: var(--title-text-color);
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    top: 34px;
    width: 100%;
}

.LYNX-overview .LYNX-content { margin-top: 20px; }

.LYNX-overview .LYNX-content .row { margin: 0; }

.LYNX-overview #overview .card {
    background: transparent;
    border: 1px solid var(--border-color);
    height: 280px;
    margin-top: 20px;
    padding: 20px;
}

.LYNX-overview #overview .card .card-body { padding: 0; }

.LYNX-overview #overview .tab-group .tab-item {
    align-items: center;
    color: var(--title-text-color);
    display: flex;
    justify-content: space-between;
}

.LYNX-overview #overview .tab-group .tab-data { margin-top: 40px; }

.LYNX-overview #overview .tab-group .tab-data .data p {
    color: var(--description-color);
    font-size: 14px;
    margin-bottom: 10px;
}

.LYNX-overview #overview .tab-group .tab-data .data h4 { color: #d00606; }

.LYNX-overview #overview .tab-group .tab-data .data h4 span {
    font-size: 14px;
    font-weight: 400;
}

.LYNX-overview #overview .tab-group .tab-data .data:last-child h4 { color: #007251; }

.LYNX-overview #overview .tab-group .shipments h6 { color: var(--title-text-color); }

.LYNX-overview #overview .tab-group .shipments .shipments-progress,
.LYNX-overview #overview .tab-group .shipments-month {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.LYNX-overview #overview .tab-group .shipments-month {
    align-items: baseline;
    margin-top: 0;
}

.LYNX-overview #overview .tab-group .shipments .shipments-progress .closed h5 { color: var(--primary-color); }

.LYNX-overview #overview .tab-group .shipments .shipments-progress .closed p {
    color: var(--description-color);
    font-size: 14px;
}

.LYNX-overview #overview .tab-group .shipments .shipments-progress .closed p,
.LYNX-overview #overview .tab-group .shipments .shipments-progress .expected p {
    color: var(--description-color);
    font-size: 14px;
}

.LYNX-overview #overview .tab-group .shipments .progress {
    background: #e5e5e5;
    border-radius: 100px;
    height: 10px;
    margin-top: 10px;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.LYNX-overview #overview .tab-group .shipments .progress .bar {
    background: cornflowerblue;
    float: left;
    height: 100%;
    min-width: 1%;
    position: relative;
}

.LYNX-overview #overview .tab-group .shipments .progress .percent {
    color: white;
    font-family: tahoma, arial, helvetica;
    font-size: 12px;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.LYNX-overview #overview .tab-group .shipments .grow { margin-top: 50px; }

.LYNX-overview #overview .tab-group .shipments-month .grow p,
.LYNX-overview #overview .tab-group .shipments .grow p {
    color: var(--description-color);
    font-size: 14px;
}

.LYNX-overview #overview .tab-group .shipments-month .grow p span,
.LYNX-overview #overview .tab-group .shipments .grow p span { color: #007251; }

.LYNX-overview #overview .tab-group .shipments-month .grow p span .bi-arrow-up,
.LYNX-overview #overview .tab-group .shipments .grow p span .bi-arrow-up { margin-right: 5px; }

.LYNX-overview #overview .wrapper {
    display: block;
    margin-top: 30px;
    padding: 0;
    width: 100%;
}

.LYNX-overview #overview .wrapper .big-chart .box {
    border: 1px solid var(--border-color);
    margin-top: 20px;
    width: 100%;
}

.LYNX-overview #overview .wrapper .big-chart .box.chart-li li { padding: 6px 0; }

.LYNX-overview #overview .wrapper .big-chart .box.chart-li { overflow: auto; }

.LYNX-overview #overview .wrapper .big-chart .box h3 {
    border-bottom: 1px solid var(--border-color);
    color: var(--title-text-color);
    font-size: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.LYNX-overview #overview .wrapper .big-chart .chart { padding: 0 20px; }

/* 
.LYNX-overview #overview .wrapper .big-chart .box .tabile-list {
  position: relative;
} */

.LYNX-overview #overview .wrapper .big-chart .box .tabile-list .list {
    align-items: center;
    border-top: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 18px 0;
}

.LYNX-overview
#overview
.wrapper
.big-chart
.box
.tabile-list
.list.header-list {
    border: none;
    margin-left: auto;
    padding-top: 0;
    width: 85%;
}

.LYNX-overview
#overview
.wrapper
.big-chart
.box
.tabile-list
.list.header-list
li {
    color: var(--title-text-color) !important;
    cursor: default;
    font-weight: 600;
    text-align: left;
}

.LYNX-overview #overview .wrapper .big-chart .box .tabile-list .list li {
    color: var(--description-color);
    cursor: pointer;
    font-size: 14px;
    list-style: none;
    text-align: left;
}

@media screen and (max-width: 576px) {
    .LYNX-overview #overview .wrapper .big-chart .box .tabile-list .list li {
        color: var(--description-color);
        cursor: pointer;
        font-size: 14px;
        list-style: none;
        min-width: 80px;
        text-align: left;
    }

    .LYNX-overview
#overview
.wrapper
.big-chart
.box
.tabile-list
.list
li.color-box { margin-right: 55px !important; }
}

.LYNX-overview #overview .wrapper .big-chart .box .tabile-list {
    min-width: 450px;
    overflow: auto;
}

.LYNX-overview #overview .wrapper .big-chart .box .tabile-list .list li:hover {
    color: var(--title-text-color);
    font-weight: 600;
}

.LYNX-overview
#overview
.wrapper
.big-chart
.box
.tabile-list
.list
li:nth-child(1) { margin-left: 0; }

.LYNX-overview
#overview
.wrapper
.big-chart
.box
.tabile-list
.list
li.color-box {
    height: 10px;
    margin-right: 10px;
    min-width: 20px;
}

.LYNX-overview
#overview
.wrapper
.big-chart
.box
.tabile-list
.list
li.color-box.color-100 { background: #cd0606; }

.LYNX-overview
#overview
.wrapper
.big-chart
.box
.tabile-list
.list
li.color-box.color-200 { background: #00ab79; }

.LYNX-overview
#overview
.wrapper
.big-chart
.box
.tabile-list
.list
li.color-box.color-300 { background: #e0e324; }

.LYNX-overview
#overview
.wrapper
.big-chart
.box
.tabile-list
.list
li.color-box.color-400 { background: #00ab79; }

.LYNX-overview
#overview
.wrapper
.big-chart
.box
.tabile-list
.list
li.color-box.color-500 { background: #cd0606; }

#carriers .carriers-menu {
    align-items: center;
    border: 1px solid var(--border-color);
    display: flex;
    margin-top: 20px;
    padding: 15px 40px;
}

@media screen and (max-width: 768px) {
    #carriers .carriers-menu { display: block; }

    #carriers .carriers-menu li {
        margin-left: 0 !important;
        margin-top: 20px;
    }
}

#carriers .carriers-menu li {
    font-size: 16px;
    list-style: none;
    margin-left: 30px;
}

#carriers .carriers-menu li:nth-child(1) { margin-left: 0; }

#carriers .carriers-menu li .menu { padding: 0; }

#carriers .carriers-menu li .menu li {
    margin: 0;
    padding: 10px 0;
}

#carriers .carriers-menu li .menu li {
    background: var(--bg-gray-100);
    color: var(--title-text-color);
    margin: 0;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

#carriers .carriers-menu li .menu li:hover a {
    background: #118dff;
    color: var(--white-color);
    margin: 0;
    padding: 10px 30px;
}

#carriers .carriers-menu li .menu.nav a {
    border: 1px solid var(--border-color);
    color: var(--title-text-color);
    margin: 0;
    padding: 10px 30px;
    transition: all 0.5s ease-in-out;
    width: 300px;
}

#carriers .carriers-menu li .menu.nav a.active {
    background: #118dff;
    color: var(--white-color);
    margin: 0;
    padding: 10px 30px;
}

#carriers .tab-content {
    height: 100%;
    width: 100%;
}

#carriers .tab-content .tab-pane .card {
    background: transparent;
    margin-top: 20px;
}

#carriers .tab-content .tab-pane .card .card-body p {
    color: var(--description-color);
    font-size: 14px;
    margin-bottom: 10px;
}

#carriers .tab-content .tab-pane .card .card-body h4 {
    color: var(--title-text-color);
    font-weight: 600;
}

#carriers .tab-content .tab-pane .KPIS-chart { margin-top: 50px; }

#carriers .tab-content .tab-pane .trailer {
    border: 1px solid var(--border-color);
    padding-bottom: 0;
}

.trailers-popups .trailer-dropdown .section-title,
#carriers .tab-content .tab-pane .trailer-dropdown .section-title {
    align-items: center;
    background: var(--border-color);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    padding-left: 20px;
}

.trailers-popups .trailer-dropdown .section-title a,
#carriers .tab-content .tab-pane .trailer-dropdown .section-title a {
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    margin: 5px;
    padding: 20px;
    transform: rotate(180deg);
    transition: all 0.5s linear;
}

.trailers-popups .trailer-dropdown .section-title a.click,
#carriers .tab-content .tab-pane .trailer-dropdown .section-title a.click {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(0deg);
}

.trailers-popups .trailer-dropdown .section-title h4,
#carriers .tab-content .tab-pane .section-title h4 { margin: 0; }

.trailers-popups .trailer-dropdown,
#carriers .tab-content .tab-pane .trailer-dropdown {
    border: 1px solid var(--border-color);
    margin-top: 0;
    /* overflow: auto; */
}

.trailers-popups .trailer-dropdown .bbb,
#carriers .tab-content .tab-pane .trailer-dropdown .bbb { overflow: auto; }

@media screen and (max-width: 720px) {
    .trailers-popups .trailer-dropdown #popup-data,
    .trailers-popups .trailer-dropdown #order-data {
        overflow: auto;
        width: 720px;
    }

    #carriers
.tab-content
.tab-pane
.trailer-dropdown
.bbb
.trailer-data#database-data {
        min-width: 620px;
        overflow: auto;
        white-space: nowrap;
    }
}

.trailers-popups .trailer-dropdown .trailer-data .list,
#carriers .tab-content .tab-pane .trailer-dropdown .trailer-data .list {
    align-items: center;
    border: none;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.trailers-popups .trailer-dropdown .trailer-data .list.header-list li,
#carriers
.tab-content
.tab-pane
.trailer-dropdown
.trailer-data
.list.header-list
li {
    color: var(--title-text-color);
    font-size: 16px;
    font-weight: 500;
}

.trailers-popups .trailer-dropdown .trailer-data .list li,
#carriers .tab-content .tab-pane .trailer-dropdown .trailer-data .list li {
    color: var(--description-color);
    font-size: 14px;
    font-weight: 500;
    font-weight: 400;
    overflow: hidden;
    padding: 10px 0;
    width: 250px;
}

#carriers .tab-content .tab-pane .trailer-dropdown .trailer-data .list li span {
    color: red;
    font-size: 14px;
    text-align: center;
}

.trailers-popups .trailer-dropdown .trailer-data .trailer-data .list li,
#carriers .tab-content .tab-pane .trailer-dropdown .trailer-data .list li a {
    color: var(--description-color);
    font-size: 14px;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

#carriers
.tab-content
.tab-pane
.trailer-dropdown
.trailer-data
ul.list
li
a:hover { color: var(--primary-color); }

.trailers-popups .trailer-dropdown .trailer-data,
#carriers .tab-content .tab-pane .trailer-dropdown .trailer-data {
    margin-top: 50px;
    padding: 0 25px;
}

#carriers
.tab-content
.tab-pane
.trailer-dropdown
.trailer-data
.trailer-page
.page-menu {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#carriers
.tab-content
.tab-pane
.trailer-dropdown
.trailer-data
.trailer-page
.page-menu
.page-list
a {
    color: var(--description-color);
    font-size: 16px;
    margin: 0 15px;
    transition: all 0.5s ease-in-out;
}

#carriers
.tab-content
.tab-pane
.trailer-dropdown
.trailer-data
.trailer-page
.page-menu
.page-list
a:hover { color: var(--primary-color); }

#carriers .tab-content .tab-pane .box { margin-top: 30px; }

#carriers .tab-content .tab-pane .errorlogs-content {
    border: 1px solid var(--border-color);
    margin-top: 30px;
}

#carriers .tab-content .tab-pane .errorlogs-item-group {
    background: #e1e3e5;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#carriers .tab-content .tab-pane .errorlogs-item-group .selector-item .item {
    margin-top: 15px;
    width: 320px;
}

#carriers
.tab-content
.tab-pane
.errorlogs-item-group
.selector-item
.item:first-child { margin: 0; }

#carriers
.tab-content
.tab-pane
.errorlogs-item-group
.selector-item
.item
.custom-select {
    background: #d9d9d9;
    border: none;
}

#carriers .tab-content .tab-pane .errorlogs-item-group .clear-btn .btn {
    background: transparent;
    border: 1px solid var(--title-text-color);
    border-radius: 0;
    color: var(--title-text-color);
    padding: 12px 40px;
    transition: all 0.5s ease-in-out;
}

#carriers .tab-content .tab-pane .errorlogs-item-group .clear-btn .btn:hover {
    background: var(--primary-color) !important;
    color: var(--white-color);
}

@media screen and (max-width: 1200px) {
    #carriers .tab-content .tab-pane .errorlogs-item-group { display: block; }

    #carriers .tab-content .tab-pane .errorlogs-item-group .selector-item .item { width: 100% !important; }

    #carriers .tab-content .tab-pane .errorlogs-item-group .search-bar {
        margin: 0 !important;
        width: 100% !important;
    }

    #carriers .tab-content .tab-pane .errorlogs-item-group .clear-btn .btn {
        margin-top: 20px;
        width: 100% !important;
    }
}

#carriers .tab-content .tab-pane .errorlogs-item-group .item { width: 320px; }

#carriers .tab-content .tab-pane .errorlogs-item-group .search-bar {
    margin: 0 20px;
    width: 820px;
}

#carriers .tab-content .tab-pane .errorlogs-item-group input {
    padding: 12px 20px;
    width: 100%;
}

.errorlogs-content .box .tabile-list .list {
    align-items: center;
    border-top: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 18px 20px;
}

.errorlogs-content .box .tabile-list .list.header-list {
    background: var(--bg-gray-100);
    border: none;
    padding: 15px 20px;
}

.errorlogs-content .box .tabile-list .list.header-list li {
    color: var(--title-text-color) !important;
    font-weight: 600;
    margin-left: 20px;
}

.errorlogs-content .box .tabile-list .list.header-list li.big-tank { width: 240px; }

.errorlogs-content .box .tabile-list .list li.big-tank {
    overflow: hidden;
    width: 240px;
}

.errorlogs-content .box .tabile-list .list li {
    color: var(--title-text-color) !important;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    #carriers .tab-content .tab-pane .errorlogs-content {
        border: 1px solid var(--border-color);
        /* overflow: auto; */
    }

    .errorlogs-content .box { overflow: auto; }

    .errorlogs-content .box .tabile-list {
        overflow: auto;
        width: 750px;
    }
}

.errorlogs-content .box .tabile-list .list li a span { margin-right: 10px; }

/* ======================================= */

/* Carriers Trailers popups Start*/

/* ======================================= */

.trailers-popups .modal-dialog {
    max-width: 1480px;
    position: relative;
}

.modal-body .row.popup-row { margin: 20px 0; }

.trailers-popups .trailer-dropdown { padding: 0; }

.trailers-popups .trailer-dropdown .section-title .item {
    align-items: center;
    display: flex;
    width: 250px;
}

.trailers-popups .trailer-dropdown .section-title .item p {
    font-size: 14px;
    margin-bottom: 0;
}

/* ======================================= */

/* Carriers Trailers popups End*/

/* ======================================= */

/*  ======================*/

.arrow_box {
    background: #555;
    border: 2px solid #000000;
    position: relative;
}

.arrow_box:after,
.arrow_box:before {
    border: solid transparent;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 50%;
    width: 0;
}

.arrow_box:after {
    border-color: rgba(85, 85, 85, 0);
    border-right-color: #555;
    border-width: 10px;
    margin-top: -10px;
}

.arrow_box:before {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #000000;
    border-width: 13px;
    margin-top: -13px;
}

.chart#donut .apexcharts-tooltip {
    color: #fff;
    overflow: visible !important;
    transform: translateX(10px) translateY(10px);
    white-space: normal !important;
}

.chart#donut .apexcharts-tooltip span {
    display: inline-block;
    padding: 5px 10px;
}