<h3>Feedback</h3>
<RadzenTextArea Style="width: 1337px; height: 176px" Placeholder="Share your toughts with us...."></RadzenTextArea>
<RadzenButton Style="width: 144px" Text="Save"></RadzenButton>

@code {

}
