@page "/createGameZone"

@using Apex.GameZone.UI.Models;
@using Apex.GameZone.UI.Services.GamezoneServices;

@inject IGamezoneService _gameZoneService
@inject NavigationManager _navManager

<RadzenTemplateForm TItem="GameZoneModel" Data=@model Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <RadzenFieldset Text="GameZone Info">
                    <div class="row mb-5">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Name" />
                        </div>
                        <div class="col">
                            <RadzenTextBox style="display: block" Name="Name" @bind-Value="model.Name" />
                            <RadzenRequiredValidator Component="Name" Text="Name is required" Popup=true Style="position: absolute" />
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Address" />
                        </div>
                        <div class="col">
                            <RadzenTextBox style="display: block" Name="Address" @bind-Value=@model.Address />
                            <RadzenRequiredValidator Component="Address" Text="Address is required" Popup=true Style="position: absolute" />
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Email" />
                        </div>
                        <div class="col">
                            <RadzenTextBox style="display: block" Name="Email" @bind-Value=@model.Email />
                            <RadzenRequiredValidator Component="Email" Text="Email is required" Popup=true Style="position: absolute" />
                            <RadzenEmailValidator Component="Email" Text="Provide a valid email address" Popup=true Style="position: absolute" />
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Phone Number" />
                        </div>
                        <div class="col">
                            <RadzenNumeric Placeholder="374 00 00 00 00" Name="Phone" @bind-Value="model.Phone" />
                            <RadzenRequiredValidator Component="Phone" Text="Phone is required" Popup=true Style="position: absolute" />
                        </div>
                    </div>
                </RadzenFieldset>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" />
                <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Back" Click="@Back" />
            </div>
        </div>
    </div>
 </RadzenTemplateForm>

@code {
    GameZoneModel model = new GameZoneModel();

    void OnSubmit()
    {
        _gameZoneService.CreateGameZone(model);
        _navManager.NavigateTo("/gamezones");
    }

    void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {
      //
    }

    void Back()
    {
        _navManager.NavigateTo("/gamezones");
    }
}
