@page "/gamezone/{gameZoneId:int}"

@using Apex.GameZone.UI.Models;
@using Apex.GameZone.UI.Services.GamezoneServices;

@inject IGamezoneService _gameZonerservice

<p> @gameZone.Name </p>

@code {
    [Parameter]
    public int gameZoneId { get; set; }

    public GameZoneModel gameZone = new GameZoneModel();
    protected async override Task OnInitializedAsync()
    {
        gameZone = await _gameZonerservice.GetGameZoneById(gameZoneId);
    }
}
